.wrapper{
	@apply sm:w-full w-[120%] md:m-0 -ml-6 relative text-white;
	video{
		@apply rounded-2xl w-full;
	}
	.controls{
		@apply absolute opacity-100 bottom-0 flex gap-3 items-center mx-5 sm:ml-5 ml-2 mb-4 bg-grey-600 bg-opacity-60 px-3 py-2 justify-between rounded-xl w-[95%];
		transition:all 0.5s ease-in-out;
		.progressBarWrapper{
			@apply w-[70%] bg-grey-400 h-2 rounded-2xl;
			.progressBar{
				@apply bg-white h-full rounded-2xl;
			}
		} 
		.time{
			@apply flex items-center gap-1
		}
		.fullscreen{
			.fullscreenButton{
				@apply cursor-pointer text-xl;
				transition:all 0.3s ease-in-out;
				&:hover{
					transform:scale(1.1);
				}
			}
		}
		&.hide{
			@apply opacity-0 -bottom-2 
		}
		&:hover{
			@apply opacity-100 bottom-0
		}
	}
}